/* CART */

.product-box {
    position: relative;
}

.product-box:hover .product-thumbnail img {
    transition: all 0.4s ease-in-out;
    opacity: 0.5;
}

.product-box:hover .box-cart,
.product-box:hover .box-magnifying {
    display: block;
}

.box-cart {
    top: 20%;
    right: 38%;
}

.box-magnifying {
    top: 35%;
    right: 38%;
}

.box-cart,
.box-magnifying {
    transition: all 0.4s ease-in-out;
    padding: 12px 15px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    position: absolute;
    display: none;
    z-index: 99;
}

.box-cart:hover,
.box-magnifying:hover {
    cursor: pointer;
    background-color: #000;
}

.box-cart a,
.box-magnifying a {
    color: #000;
}

.box-cart:hover a,
.box-magnifying:hover a {
    color: #fff;
}

<style>.container {
    padding: 0;
}

.name-detail-cart,
.price-detail-cart,
.number,
.deleteProduct,
.total-price-detail-cart {
    margin: 70px 0;
}

.number {
    margin: 70px 40px;
}

.title_danh_muc_cart .row div {
    text-align: center;
}

.detail_danh_muc_cart .row .col-2 {
    text-align: center;
}

.deleteProduct button {
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.deleteProduct button:hover {
    color: rgb(0, 157, 255);
}

.number .qtyminus,
.number .qtyplus,
.number input {
    font-size: 12px !important;
    height: 30px !important;
    line-height: 30px !important;
}

.cart_N .container .totals_price {
    color: #ec0808;
}